__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
odoo.conf
log/
/odoo
/data
/venv
/venv_311
/venv_win
*.json
*.csv
*.xls
*.xlsx
*.sql
*.pyc
__pycache__/
odoo/__pycache__
odoo/.pytest_cache
*.log
.env
filestore/
sessions/
.idea/
.vscode/
*.deb
*.deb
